<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="rechercheVoit_action.php" method="post">
    <fieldset>
        <legend style="color: blue; font-size: 70px;">chercher voiture : </legend>
        <table >
            <tr>
                <td><h3>Carburant : </h3>
                    <select name="CAR" >
                        <option value="">--Selectionner le carburant--</option>
                        <option value="Essence">Essence</option>
                        <option value="Diesel">Diesel</option>
                      </select>
                </td>
            
            </tr>
        </table>
            
              
            
            <button type="submit" name="sub" style="background-color: rgb(206, 177, 140); border-radius: 5px;">Rechercher</button>
        
    </fieldset>
</form>
</body>
</html>